extends layout
block content
    .container-fluid.border.ps-1.border-bottom-0.border-top-0
        if featured
            if featured.length >= 5
                .container-fluid
                    .row
                        .col-md-6.col-sm-7.p-0
                            #featuredSlide.carousel.slide(data-bs-ride='carousel')
                                .carousel-indicators
                                    each feature, i in featured
                                        button(class=i==0?'active':'' type='button' data-bs-target='#featuredSlide' data-bs-slide-to=i)
                                .carousel-inner
                                    each feature, i in featured 
                                        a(href='/'+feature.title)
                                            .carousel-item(class=i==0?'active':'')
                                                img.d-block.w-100(src='/uploads/'+feature.featured.filename height='500px')
                                                .overlay.position-absolute.bg-dark
                                                .overlay-caption.position-absolute.bg-dark
                                                .carousel-caption.d-md-block
                                                    h5=feature.title 
                                                    p  #{feature.body.substring(35,120)}
                                button.carousel-control-prev(type='button' data-bs-target='#featuredSlide' data-bs-slide='prev')
                                    span.carousel-control-prev-icon 
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button' data-bs-target='#featuredSlide' data-bs-slide='next')
                                    span.carousel-control-next-icon 
                                    span.visually-hidden Next
                        .col-md-3.col-sm-7.p-0
                            .row.p-0
                                #categorySlide1.carousel.slide.carousel-fade(data-bs-ride='carousel')
                                    .carousel-inner
                                        each feature, i in featuredCat1
                                            a(href='/'+feature.title)
                                                .carousel-item(class=i==0?'active':'')
                                                    img.d-block.w-100(src='/uploads/'+feature.featured.filename height='250px')
                                                    .overlay-cat.position-absolute.bg-dark
                                                    .carousel-caption.d-md-block
                                                        h5=feature.title 
                                                        p  #{feature.body.substring(35,80)}
                            .row
                                #categorySlide2.carousel.slide.carousel-fade(data-bs-ride='carousel')
                                    .carousel-inner
                                        each feature, i in featuredCat2
                                            a(href='/'+feature.title)
                                                .carousel-item(class=i==0?'active':'')
                                                    img.d-block.w-100(src='/uploads/'+feature.featured.filename height='250px')
                                                    .overlay-cat.position-absolute.bg-dark
                                                    .carousel-caption.d-md-block
                                                        h5=feature.title 
                                                        p #{feature.body.substring(35,80)}
                        .col-md-3.col-sm-7.p-0
                            .row.p-0
                                #categorySlide1.carousel.slide.carousel-fade(data-bs-ride='carousel')
                                    .carousel-inner
                                        each feature, i in featuredCat3
                                            a(href='/'+feature.title)
                                                .carousel-item(class=i==0?'active':'')
                                                    img.d-block.w-100(src='/uploads/'+feature.featured.filename height='250px')
                                                    .overlay-cat.position-absolute.bg-dark
                                                    .carousel-caption.d-md-block
                                                        h5=feature.title 
                                                        p  #{feature.body.substring(35,80)}
                            .row
                                #categorySlide2.carousel.slide.carousel-fade(data-bs-ride='carousel')
                                    .carousel-inner
                                        each feature, i in featuredCat4
                                            a(href='/'+feature.title)
                                                .carousel-item(class=i==0?'active':'')
                                                    img.d-block.w-100(src='/uploads/'+feature.featured.filename height='250px')
                                                    .overlay-cat.position-absolute.bg-dark
                                                    .carousel-caption.d-md-block
                                                        h5=feature.title 
                                                        p #{feature.body.substring(35,80)}
            else


        if query
            h2 Search results for "#{query}"
        
        .row 
            each article, i in articles
                each user, i in users
                    if user._id == article.author
                        .col-md-5.col-lg-3.mt-4
                            .card.border-primary.shadow.rounded-0
                                if article.featured
                                    .d-flex.w-100.position-absolute.categoryTag
                                        each category, i in article.category
                                            .bg-main.p-1.rounded-1.mx-1
                                                a.text-white.text-decoration-none.text-capitalize(href='/category/'+category)= category
                                else 
                                    .d-flex.w-100.position-absolute.categoryTag2
                                        each category, i in article.category
                                            .bg-main.p-1.rounded-1.mx-1
                                                a.text-white.text-decoration-none.text-capitalize(href='/category/'+category)= category
                                if article.featured
                                        a.card-link(href='/'+article.title)
                                            img.card-img-top.rounded-0(src='/uploads/'+article.featured.filename)
                                            .overlay-card.position-absolute.bg-dark
                                .card-body
                                    h5.card-tite
                                        a.card-link(href='/'+article.title)= article.title.length > 50?article.title.substring(0,50)+'...':article.title
                                    small Posted on #{article.created}, by 
                                        span.mb-2
                                            b #{user.name}
                                    if article.featured
                                        p.card-text.mx-auto.pt-3 !{article.body.substring(0,74)+'...'}
                                    else 
                                        p.card-text.mx-auto.pt-5 !{article.body.substring(0,300)+'...'}
            else 
                .container.p-5.No-post
                    p.d-flex.justify-content-center 
                        if query
                            b No Post found for "#{query}"
                        else
                            b No Post has been Created Yet
                    br 
                    if user
                         a.btn.btn-secondary.d-block.mx-auto.w-25(href='/posts/add') Click here to Create new one
        if pages > 0
            nav 
                ul.pagination.justify-content-center.p-5 
                    if current == 1
                        li.page-item.disabled
                            a.page-link First
                    else 
                        li.page-item 
                            a.page-link(href='/') First 
                    - var i = Number(current) > 5 ? Number(current) - 4 : 1
                    if i !==1
                        li.page-item.disabled 
                            a.page-link ...
                    - for(; i <= (Number(current)+4) && i <= pages; i++)
                        if i == current 
                            li.page-item.active 
                                a.page-link #{i}
                        else 
                            li.page-item
                                a.page-link(href='/page/'+i) #{i}
                        if i == Number(current) + 4 && i < pages 
                            li.page-item.disabled 
                                a.page-link ...
                    if current == pages 
                        li.page-item.disabled 
                            a.page-link Last 
                    else
                        li.page-item 
                            a.page-link(href='/page/'+pages) Last
        
            .row 
                if featuredCat3
                    .col-md-4.mt-4
                            .card.rounded-0.h-auto.border-primary.featuredCat.border-0(style='max-width:400px')
                                if featuredCat3[0] 
                                    .card-header.bg-main.text-white.rounded-0 
                                        b Recents News Posts
                                    a.card-link(href='/'+featuredCat3[0].title)
                                        img.card-img-top.rounded-0(src='/uploads/'+featuredCat3[0].featured.filename)
                                        .Foverlay-card.position-absolute.bg-dark
                                    .card-body
                                        a.card-link(href='/'+featuredCat3[0].title)
                                            h5.card-title=featuredCat3[0].title
                                        p.card-text.pt-2 !{featuredCat3[0].body.substring(0,80)}...
                                    ul.list-group.list-group-flush.border.border.border-end-0.border-start-0.border-top-0 
                                        each post, i in featuredCat3.slice(1)
                                            li.list-group-item 
                                                a.card-link(href='/posts/'+post.title)
                                                    img.img-fluid.border.me-2(src='/uploads/'+post.featured.filename width='50px' height='50px')
                                                    b #{post.title}
                if featuredCat4
                    .col-md-4.mt-4.col-sm-12.px-2
                            .card.rounded-0.h-auto.featuredCat.border-primary.border-0(style='max-width:400px')
                                if featuredCat4[0] 
                                    .card-header.bg-main.text-white.rounded-0 
                                        b Recents Bussiness Posts
                                    a.card-link(href='/'+featuredCat4[0].title)
                                        img.card-img-top.rounded-0(src='/uploads/'+featuredCat4[0].featured.filename)
                                        .Foverlay-card.position-absolute.bg-dark
                                    .card-body 
                                        a.card-link(href='/'+featuredCat4[0].title)
                                            h5.card-title=featuredCat4[0].title
                                        p.card-text.pt-2 !{featuredCat4[0].body.substring(0,80)}...
                                    ul.list-group.list-group-flush.border.border-end-0.border-start-0.border-top-0 
                                        each post, i in featuredCat4.slice(1)
                                            li.list-group-item 
                                                a.card-link(href='/'+post.title)
                                                    img.img-fluid.border.me-2(src='/uploads/'+post.featured.filename width='50px' height='50px')
                                                    b #{post.title}
                if featuredCat2
                    .col-md-4.mt-4
                            .card.rounded-0.h-auto.border-primary.featuredCat.border-0(style='max-width:400px')
                                if featuredCat2[0] 
                                    .card-header.bg-main.text-white.rounded-0 
                                        b Recents Entertainment Posts
                                    a.card-link(href='/'+featuredCat2[0].title)
                                        img.card-img-top.rounded-0(src='/uploads/'+featuredCat2[0].featured.filename)
                                        .Foverlay-card.position-absolute.bg-dark
                                    .card-body 
                                        a.card-link(href='/'+featuredCat2[0].title)
                                            h5.card-title=featuredCat2[0].title
                                        p.card-text.pt-2 !{featuredCat2[0].body.substring(0,80)}...
                                    ul.list-group.list-group-flush.border.border-end-0.border-start-0.border-top-0 
                                        each post, i in featuredCat2.slice(1)
                                            li.list-group-item
                                                a.card-link(href='/'+post.title)
                                                    img.img-fluid.border.me-2(src='/uploads/'+post.featured.filename width='50px' height='50px')
                                                    b #{post.title}
                                            

