extends layout 
block content 
    .container
        ul.nav.nav-tabs.d-flex.justify-content-center 
            li.nav-item 
                a.nav-link(href='/admin/dashboard') Dashboard
            li.nav-item 
                a.nav-link.active(href='/admin/dashboard/my-posts') Posts 
            if user.role == 'Admin'
                li.nav-item 
                    a.nav-link(href='/admin/dashboard/featured-posts') Featured post
                li.nav-item 
                    a.nav-link(href='/users') Users  
            li.nav-item 
                a.nav-link( href='/admin/dashboard/settings') Settings
    .container.position-relative.mt-4
        h1.text-md-center= title
        if user.role == 'Admin'
            .dropdown.position-absolute.top-0.my-1#filter.mx-1
                    button.btn.btn-outline-secondary.dropdown-toggle(type= 'button' id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false')
                        i.fa-solid.fa-filter
                    ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                        li 
                            a.dropdown-item(href='/admin/dashboard/my-posts') My Posts
                        li 
                            a.dropdown-item(href='/admin/dashboard/all-posts') All Posts
        a.btn.btn-success.position-absolute.top-0.end-0.my-1.mx-4(href='/posts/add')
            i.fa-solid.fa-add
        each post, i in articles
            each user, i in users
                if user._id == post.author
                    ul.list-group
                        li.list-group-item.float-start
                            a.text-decoration-none.fw-bold.text-capitalize(href='/'+post.title)= post.title
                            button.btn
                                a.text-decoration-none.text-secondary(href='/../posts/'+post.title+'/edit')
                                    i.fa-solid.fa-edit
                            form.float-end.delete.mx-1(action='/posts/'+post.title method='POST' id='delete' disabled)
                                input(type='hidden' name='_method' value='DELETE')
                                button.btn.btn-outline-danger(data-title=post.title)
                                    i.fa-solid.fa-trash
                            br 
                            small.text-capitalize by #{user.name}, 
                                b Category: 
                                span.text-capitalize #{post.category}
                        
        if pages > 0
            nav 
                ul.pagination.justify-content-center.p-5 
                    if current == 1
                        li.page-item.disabled
                            a.page-link First
                    else 
                        li.page-item 
                            a.page-link(href='/admin/dashboard/'+url) First 
                    - var i = Number(current) > 5 ? Number(current) - 4 : 1
                    if i !==1
                        li.page-item.disabled 
                            a.page-link ...
                    - for(; i <= (Number(current)+4) && i <= pages; i++)
                        if i == current 
                            li.page-item.active 
                                a.page-link #{i}
                        else 
                            li.page-item
                                a.page-link(href='/admin/dashboard/'+url+'/page-'+i) #{i}
                        if i == Number(current) + 4 && i < pages 
                            li.page-item.disabled 
                                a.page-link ...
                    if current == pages 
                        li.page-item.disabled 
                            a.page-link Last 
                    else
                        li.page-item 
                            a.page-link(href='/admin/dashboard/'+url+'/page-'+pages) Last
                            br
                             em Some feature is disabled to prevent authorized access